* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --col-width : minmax(2rem, 2.5rem);
}

button {
  all: unset;
  cursor: pointer;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  width: 100dvw;
  height: 100dvh;

  background-color: #340257;

  display: grid;
  place-items: center;
}

.calendar {
  border-radius: .2rem;
  overflow: hidden;

  width: fit-content;
  user-select: none;
  box-shadow: 0 0 .11rem #00000088;
}

/* calendar header */
.calendar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  background-color: white;

  border-bottom: 1px solid #958c8c68;
  padding: .3rem 0;
}

.prev-month, .next-month{
  font-size: larger;
  font-weight: 600;
  color: red;
}
/* calendar header */


/* calendar body */
.calendar-body {
  padding: .5rem;
  
  background-color: white;
}

.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, var(--col-width));
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, var(--col-width));
}

.day {
  display: grid;
  place-items: center;

  color: blueviolet;
}

/* dates */
.date {
  width: 100%;
  aspect-ratio: 1 / 1;
  
  border-radius: 50%;
  
  display: grid;
  place-items: center;
  
  transition: all;
  transition-duration: .3s;
}

.date:hover {
  
  background-color: red;
  color: white;
  box-shadow: inset 0 0 .15rem #00000088;
  
  font-weight: bold;
}


/* selected-date */
.selected-date {
  font-weight: 500;
  color: white;

  position: relative;
  z-index: 1;
}

.selected-date::after {
  content: '';
  width: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  position: absolute;

  background-color: blueviolet;
  box-shadow: inset 0 0 .15rem blueviolet;

  z-index: -1;
}

.selected-date:hover {
  background-color: blueviolet;
  color: white;
  box-shadow: inset 0 0 .15rem #00000088;

  font-weight: bold;
}
/* calendar body */
